body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    /* Couleur de fond pour combler les vides avant que le jeu ne démarre */
}

#game-container {
    position: relative;
    width: 800px;
    /* Taille fixe pour le jeu*/
    height: 600px;
    overflow: hidden;
    /* Cacher le débordement pour le défilement */
    background-image: url('../images/highway-3.jpg');
    background-size: auto 100%;
    /* Ajuster la hauteur de l'image de fond pour qu'elle s'adapte à la hauteur du conteneur */
    background-repeat: repeat-x;
    /* Répéter l'image sur l'axe X */
}

#car {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/horizontal-car-right-to-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 200px;
}

.controls,
.instructions {
    text-align: center;
    margin-bottom: 20px;
}

#obstacle {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: red;
    /* Couleur visible pour l'obstacle */
    top: 100px;
    /* Position de départ de l'obstacle */
    left: 50%;
    /* Centrer l'obstacle horizontalement */
    transform: translateX(-50%);
}